h1 {
    text-align: center;
  }
  
  .container {
    background-color: rgb(255, 255, 255);
    padding: 10px 0;
  }
  
  .marker {
    width: 200px;
    height: 25px;
    margin: 10px auto;
  }
  
  .red {
    background: linear-gradient(90deg);
  }
  
  .green {
    background-color: #007F00;
  }
  
  .blue {
    background-color: hsl(240, 100%, 50%);
  }
  